version: '3.8'
services:
  wastefree-api:
    build:
      context: ./API
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:8080

  wastefree-ui:
    build:
      context: ./UI
      dockerfile: Dockerfile
      args:
        BUILD_SCRIPT: docker
    ports:
      - "4200:80"
    depends_on:
      - wastefree-api