version: '3.8'
services:
  wastefree-api:
    build:
      context: ./API
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:5001

  wastefree-ui:
    build:
      context: ./UI
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - wastefree-api